<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let episode of episodes">
    <div class="card">
      <div class="image">
      </div>
      <div class="card-inner">
        <div class="header">
          <h4 class="text-muted">{{episode.air_date}} - {{episode.episode}}</h4>
          <small class="text-muted">{{episode.characters[0]}}</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notFound" *ngIf="episodes.length <= 0">
    <p>No results...</p>
  </div>
</div>

<!--<div class="col-xs-12 col-sm-6 col-md-6 justify-content-center">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>-->
