<div class="d-flex justify-content-end align-items-center">
  <form class="form-inline d-flex mt-2 mt-md-0">
    <input #inputSearch class="form-control mr-sm-2" autofocus type="text" placeholder="Search" aria-label="Search" (keyup)="onSearch(inputSearch.value)" >
    <a class="text-muted" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
    </a>
  </form>
</div>
